<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div id="productForm-content">
        <div id="product-img">
            <div th:if="${files}" id="product-wrap" >
                <div th:each="file : ${files}" class="product-imageFiles">
                    <img th:src="@{'/product/' + ${file.fileName}}" alt="Image not found"/>
                </div>
            </div>
            <div th:unless="${files}">
            <img src="/logo/unnamed.jpg" alt="상품 이미지 준비중">
            </div>
        </div>
        <div id="product-title" class="add-product">
            <input type="text" name="title" id="item-title" th:value="${product.title}"  class="auto-resize-input" readonly> &nbsp;&nbsp;
        </div>
        <div id="product-price" class="add-product">
            <input type="text" name="price" id="item-price" th:value="${product.price} + ' 원'" class="auto-resize-input" readonly>
        </div>
        <div class="add-product">
          판매자 위치 :  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin-filled" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z" stroke-width="0" fill="currentColor" />
            </svg>
            <input type="text" id="product-address" name="sellerLocation" class="product-info" th:value="${product.sellerLocation}" readonly>
        </div>
        <div class="add-product">
            <p class="product-info">설명</p>
        </div>
        <div id="product-info" class="add-product">
            <textarea  name="info" id="info" th:text="${product.info}" readonly></textarea>
        </div>
</div>
<footer><div class="content-footer bg-base-200">
    <a class="content-back" href="javascript:void(0);" onclick="history.back();">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M5 12l14 0" />
            <path d="M5 12l4 4" />
            <path d="M5 12l4 -4" />
        </svg>
    </a>

    <svg xmlns="http://www.w3.org/2000/svg" class="heart-icon icon-tabler icon-tabler-heart" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round" th:onclick="'addToWishlist(event, ' + ${product.id} + ');'">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path th:if="${product.id == dibCheck}" d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" class="heart-path heart-check"/>
        <path th:unless="${product.id == dibCheck}" d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" class="heart-path"/>
    </svg>


    <button th:if="${m.id == product.memberDTO.id}" class="message-button" onclick="chatClick()">
      수정하기
    </button>
    <button th:if="${m.id == product.memberDTO.id}" class="message-button" >
        상태변경
    </button>
    <button th:if="${m.id != product.memberDTO.id}" class="message-button" onclick="chatClick()">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-circle-2-filled" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M5.821 4.91c3.898 -2.765 9.469 -2.539 13.073 .536c3.667 3.127 4.168 8.238 1.152 11.897c-2.842 3.447 -7.965 4.583 -12.231 2.805l-.232 -.101l-4.375 .931l-.075 .013l-.11 .009l-.113 -.004l-.044 -.005l-.11 -.02l-.105 -.034l-.1 -.044l-.076 -.042l-.108 -.077l-.081 -.074l-.073 -.083l-.053 -.075l-.065 -.115l-.042 -.106l-.031 -.113l-.013 -.075l-.009 -.11l.004 -.113l.005 -.044l.02 -.11l.022 -.072l1.15 -3.451l-.022 -.036c-2.21 -3.747 -1.209 -8.392 2.411 -11.118l.23 -.168z" stroke-width="0" fill="currentColor" />
        </svg>메시지
    </button>
    <div id="product-button"  th:if="${m.id != product.memberDTO.id}" >
        <button id="product_submit" onclick="buySubmitProduct()" type="button" class="buy-btn btn btn-success">상품구매</button>
    </div>
</div>
    <div id="dummyMember" th:if="${m != null}" th:attr="data-value=${m.nickName}"></div>
    <div id="dummyMemberId" th:if="${m != null}" th:attr="data-value=${m.id}"></div>
    <div id="dummyRegisterId" th:if="${product != null}" th:attr="data-value=${product.id}"></div>
    <script src="/js/content.js"></script>
</footer>
<div th:replace="~{chat/chatModal :: chatModal}"></div>
</body>
</html>