<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<div id="productForm-content">
    <div id="login-container">
        <span class="text-2xl font-bold">일반 판매</span>
        <a href="/home" class="text-2xl font-bold close">X</a>
    </div>
    <div class="parent">
        <div class="myPage-line"></div>
    </div>

    <form action="/product/register" method="Post" enctype="multipart/form-data">
        <div id="fileUpload-img">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 40 40" fill="none" stroke-linecap="round" stroke-linejoin="round" id="upload-icon" style="cursor: pointer;">
                <rect width="40" height="40" fill="#cccccc"/>
                <path stroke="#ffffff" stroke-width="1.5" d="M22 10a2 2 0 0 1 1.995 1.85l.005 .15a1 1 0 0 0 .883 .993l.117 .007h1a3 3 0 0 1 2.995 2.824l.005 .176v9a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9a3 3 0 0 1 2.824 -2.995l.176 -.005h1a1 1 0 0 0 1 -1a2 2 0 0 1 1.85 -1.995l.15 -.005h6zm-3 7a3 3 0 0 0 -2.985 2.698l-.011 .152l-.004 .15l.004 .15a3 3 0 1 0 2.996 -3.15z" fill="currentColor"/>
                <text id="fileUpload-cnt" x="20" y="38" font-size="10" fill="#000000" text-anchor="middle">0/3</text>
            </svg>
            <div id="image-preview"></div>
            <input type="file" id="file-input" style="display:none;" multiple accept="image/*">
        </div>
        <div id="product-title" class="add-product">
            <input type="text" name="title" id="title" > &nbsp;&nbsp;
        </div>
        <div id="product-price" class="add-product">
            <input type="number" name="price" id="price"  min="1000" max="100000000000"> &nbsp;&nbsp; <span>￦</span>
        </div>
        <div class="add-product">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin-filled" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z" stroke-width="0" fill="currentColor" />
            </svg>
            <input type="text" id="product-address" name="sellerLocation" class="product-info" th:value="${address}" readonly>
        </div>
        <div class="add-product">
            <p class="product-info">설명</p>
        </div>
        <div id="product-info" class="add-product">
            <textarea  name="info" id="info" ></textarea>
        </div>
        <div id="product-button">
            <button id="product_submit" onclick="formSubmitProduct()" type="button" class="btn btn-success btn-xs sm:btn-sm md:btn-md lg:btn-lg">상품구매</button>
        </div>
    </form>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>