<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div id="product-content">
    <div th:if="${products != null}">
    <div class="card card-side bg-base-100 shadow-xl h-32 custom-card" th:each="product : ${products}"
         th:onclick="'window.location.href=\'/register/content/' + ${product.id} + '\';'">
            <figure th:if="${product.getFiles() != null and !product.getFiles().isEmpty()}" class="figure-img">
                <img th:src="@{'/product/' + ${product.files.get(0).fileName}}" alt="Image not found"/>
        </figure>
        <figure th:if="${product.files == null || product.files.isEmpty()}" class="figure-img">
            <img src="/logo/unnamed.jpg" alt="productImg"/>
        </figure>
        <div class="card-body" th:if="${product.isAuctionCheck() == true}">
            <h2 class="card-title" th:text="${product.title}">상품제목</h2>
            <p th:text="'현재 입찰가 '+${product.getAuctionDTO().getEndPrice() +'원'}"></p>
            <div class="card-actions justify-end"  onclick="addToWishlist(event)">
               <!-- <button class="btn btn-primary" th:onclick="'window.location.href=\'/register/content/' + ${product.id} + '\';'">상품보기</button>-->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                </svg>
            </div>
        </div>
            <div class="card-body" th:unless="${product.isAuctionCheck() == true}">
                <h2 class="card-title" th:text="${product.title}">상품제목</h2>
                <p th:text="'가격 '+${product.price +'원'}"></p>
                <p class="seller_location" th:text="'판매자 위치 : '+${product.sellerLocation}"></p>
            <div class="card-actions justify-end" onclick="addToWishlist(event)">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                </svg>
                <!--<button class="btn btn-primary" th:onclick="'window.location.href=\'/register/content/' + ${product.id} + '\';'">상품보기</button>-->
            </div>
        </div>
    </div>
    </div>
    <script src="/js/sellList.js"></script>
    <div th:if="${products == null || products.isEmpty()}">
        <center>검색 결과가 존재하지 않습니다.</center>
    </div>
</div>
<div id="dummyMember" th:if="${m != null}" th:attr="data-value=${m.id}"></div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>