<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="loginHeader" class="navbar bg-base-100">
    <a href="javascript:void(0);" onclick="window.history.back();" class="back-button text-2xl font-bold"> < </a>
    <div id="login-container">
        <span class="text-2xl font-bold mr-4 mt-6">회원가입</span>
    </div>
</div>
<hr class="login-line">
<form action="/member/join" method="POST" id="join_form">
<div id="content">
    <div class="join-id mb-2">
    <p class="text-lg font-bold">아이디</p>
    <input type="text" name="loginId" id="loginId"> &nbsp; &nbsp; <button class="btn btn-sm btn-active" onclick="idValidCheck()">중복체크</button>
    </div>
        <div class="join-pw mb-2">
        <p class="text-lg font-bold">비밀번호</p>
        <input type="password" name="password" id="password" oninput="checkPw()"> <br> <br>
        <p class="text-lg font-bold">비밀번혹 확인</p>
            <input type="password" name="passwordCheck" id="passwordCheck" oninput="checkPw()">&nbsp; &nbsp; <span id="passwordResult"></span>
        </div>
        <div class="join-nickname mb-2">
            <p class="text-lg font-bold">닉네임</p>
            <input type="text" name="nickName" id="nickName"> &nbsp;&nbsp; <button class="btn btn-sm btn-active" onclick="nickValidCheck()">중복체크</button>
        </div>
        <div class="join-email mb-2">
            <p class="text-lg font-bold">이메일</p>

            <input name="email" type="hidden" value="">
            <input id="emailId" type="text" class="joinInput_form w-40" placeholder="이메일">@
            <input id="emailDomain" type="text" class="joinInput_form w-40" placeholder="예) xxxx.com">
            <select id="selectEmail" name="emailaddr" onchange="emailSelect()">
                <option value="">직접입력</option>
                <option value="gmail.com">gmail.com</option>
                <option value="hanmail.net">hanmail.net</option>
                <option value="msn.com">msn.com</option>
                <option value="naver.com">naver.com</option>
                <option value="nate.com">nate.com</option>
            </select>
        </div>
        <div class="join-address mb-2">
            <p class="text-lg font-bold">주소</p>
            <div class="input-group">
            <input type="text" id="postCode" name="postCode" class="mb-2" placeholder="우편번호" readonly>
            <input type="button" class="btn btn-sm btn-outline" onclick="daumAddress()" value="우편번호 찾기"><br>
            <input type="text" id="address" name="address" class="mb-2 w-80" placeholder="주소" readonly><br>
            <input type="text" id="detailAddress" name="addressDetail" class="w-80" placeholder="상세주소">
           <!-- <input type="text" id="extraAddress"  class="w-80" placeholder="참고주소">-->
            </div>
        </div>

        <div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
            <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
        </div>

</div>
<div id="join_buttons" class="mt-6">
    <button id="join_submit" onclick="formSubmitCheck(form)" type="button" class="btn btn-sm btn-active mr-5">회원가입</button>
    <input type="button" class="btn btn-sm btn-active" value="뒤로가기" onclick="history.back()"/>
</div>
</form>
<script src="/js/join.js"></script>
</body>
</html>