<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div id="login-content">
    <form action="/login" method="POST" id="join_form" onsubmit="login(event)">
        <div class="login-id mb-2">
            <span> 아이디    : </span>  &nbsp;&nbsp;&nbsp;<input type="text" name="loginId" id="loginId">
            <button type="submit" class="submit-btn btn-active btn-accent" onclick="login()">로그인</button>
        </div>
        <div class="login-id mb-2">
            <span> 비밀번호 : </span> <input type="password" name="password" id="password">
        </div>
        <div id="error-message" th:if="${param.error}" style="color: red;">
            <p>아이디 또는 비밀번호가 틀립니다.</p>
        </div>
    </form>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>