<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="header">
<div class="navbar bg-base-100">
        <div role="button" onclick="backHome()" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full"><img src="/logo/hotUdon.jpeg" alt="Logo"></div>
        </div>
    <div class="search-container">
        <form action="/register/search" id="searchForm" method="get" class="flex justify-center">
            <label class="input input-bordered flex items-center gap-8" id="search_bar">
                <input type="text" id="header_query" name="search" class="search-input" placeholder="상품을 입력해주세요" />
                <button type="submit" class="search-button" id="search_button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                        <path fill-rule="evenodd"
                              d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                              clip-rule="evenodd"/>
                    </svg>
                </button>
            </label>
        </form>
    </div>
    <div sec:authorize="isAuthenticated()" class="actions">
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                <div class="indicator">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="red" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3 9.24 3 10.91 3.91 12 5.18C13.09 3.91 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5 22 12.28 18.6 15.36 13.45 19.03L12 21.35z"/>
                    </svg>
                    <span class="badge badge-sm indicator-item" th:text="${session.myDibs}">나의 찜상품</span>
                </div>
            </div>

            <div tabindex="0" class="mt-3 z-[1] card card-compact dropdown-content w-52 bg-base-100 shadow">
                <div class="card-body">
                    <span class="font-bold text-lg"  th:text="${session.myDibs}+ 'Items'"> Items</span>
                    <!--나의 찜상품 총 가격들을 줘야할지 고민이다.-->
                    <!--<span class="text-info">Subtotal: $999</span>-->
                    <div class="card-actions">
                        <button class="btn btn-primary btn-block">찜 상품</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar online">
                <div class="w-10 rounded-full">
                    <img alt="Tailwind CSS Navbar component" src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                </div>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="/member/update">설정</a></li>
                <li><a href="/member/myPage">나의 페이지</a></li>
                <li><a href="javascript:void(0)" onclick="logout()">로그아웃</a></li>
            </ul>
        </div>
    </div>
    <div sec:authorize="!isAuthenticated()" class="actions w-30">
        <a class="text-lg font-bold" href="/member/join">회원가입</a>
        <a class="text-lg font-bold" href="/member/login">로그인</a>
    </div>
</div>
<hr id="header-line">
<script src="/static/js/header.js"></script>
</body>
</html>