#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
}
#footer-category{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    align-items: center;
}
#footer-addProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer-message{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.message-icon{
    position: relative;
    display: inline-block;
    font-size: 0;
}
.message-icon .message-badge {
    position: absolute;
    top: -3px;
    right: -3px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 1px 3px;
    font-size: 8px;
    font-family: Arial, sans-serif;
}
#footer-event{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category-btn{

     background-color: black;
    color: white;
    width: 30px;
    height: 20px;
}
span{
    margin-bottom: 5px;
}
.message-link{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}