<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div id="content">
    <div id="home-headContainer">
        <div class="half-container">
            <p>경매</p>
        </div>
        <div class="half-container">
            <p>일반</p>
        </div>
    </div>
    <div id="home-scrollerItem">

    </div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>