.auto-resize-input {
    display: inline-block;
    font-size: 1rem;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 20px;
}


.message-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.content-back{
    margin-left: 20px;
    background-color: black;
}

.buy-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.message-button svg {
    margin-right: 8px;
}