#login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.login-id {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.login-id span {
    margin-right: 10px;
}
.submit-btn {
    padding: 10px;
    font-size: 1.2em;
    margin-left: 20px;
    cursor: pointer;
    position: relative;
    top:20px;
}
#error-message {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: red;
}
.simpleLogin-container{
    text-align: center;
    width: 100%;
}
.simpleLogin-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 10px;
}
.login-center {
    height: 3px;
    background-color: dimgray;
    border: none;
    flex-grow: 1;
    margin: 10px;
}
.login-text {
    padding: 0 10px;
    white-space: nowrap;
}
#buttongroup{
    width: 80%;
}
#googlebtn{
    background-color: #4285F4;
    border: none;
    color: white;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom:  10px;
}
#googlebtn i {
    font-size: 24px;
    color: white;
}


#naverbtn {
    background-color: #1EC800;
    border: none;
    color: white;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom:  10px;
}
#naverbtn i {
    font-size: 24px;
    color: white;
}

/* Kakao 버튼 스타일 */
#kakaobtn {
    background-color: #FFEB00;
    border: none;
    color: black;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom:  10px;
}
#kakaobtn i {
    font-size: 24px;
    color: black;
}